body{
	margin: 0;
}

/* TOPBAR */
.aw-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 50px;
	z-index: 9999;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background-color: #1e94d2;
}

.aw-topbar>img {
	margin-top: 10px;
	margin-left: 5px;
}

.aw-topbar>a {
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
	font-size: 25px;
	line-height: 50px;
	margin-left: 10px;
}

/* SIDEBAR */
.aw-sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 210px;
	margin-left: -211px;
	z-index: 9998;
	transition: margin-left 0.5s;
	overflow-y: auto;
	box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
	background-color: #f6f6f6;
	border-right: 1px solid #eaeaea;
}

.aw-sidebar.is-toggled {
	margin-left: 0px;
}

@media ( min-width : 960px) {
	.aw-sidebar {
		margin-left: 0px;
	}
	.aw-sidebar.is-toggled {
		margin-left: -211px;
	}
}

.top-app-icon {
	color: black;
	/* color: #d14836;
	background-color: #ffffff;
	text-align: center;
	padding-left: 5px;
	margin-right: 10px; */
}

.top-app-sigla {
	color: #ffffff;
	font-weight: bold;
}

.top-app-name {
	display: none;
}

@media ( min-width : 960px) {
	.top-app-name {
		display: inline;
	}
}

/* CONTENT */
.aw-content {
	padding: 0 15px;
	margin-top: 50px;
	transition: margin-left 0.5s;
}

@media ( min-width : 960px) {
	.aw-content {
		margin-left: 210px;
	}
	.aw-content.is-toggled {
		margin-left: 0;
	}
}

/* Styles */
.div-login-app-name{
	text-align: center;
}
.login-app-sigla{
	font-size: 20px;
	color: #555574;
}

.login-app-name{
	font-size: 20px;
	color: #555574;
}
.div-login {
	width: 95%;
	position: absolute;
	background-color: white;
	padding: 20px;
	top: none;
	left: none;
	margin-top: 20%;
	margin-left: 2%;
	border-bottom: 1px solid #dfe1e4;
    border-radius: 3px;
    box-sizing: border-box;
}

@media ( min-width : 510px) {
	.div-login {
		width: 500px;
		top: 50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -250px;
	}
}